.rotate {
  -webkit-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
