.menu-container {
  background-color: black;
  position: fixed;
  color: white;
  width: 100vw;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-container .logo-section {
  /* flex: 0.1; */
}
.menu-container .menu-section {
  display: flex;
  /* flex: 0.9; */
}
.menu-container .hamburger-section {
  display: none;
  position: relative;
}

.menu {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.menu:hover {
  color: red;
}

.container {
  padding: 140px 30px 0px;
}

@media screen and (max-width: 576px) {
  .menu-container .menu-section {
    display: none;
  }
  .menu-container .hamburger-section {
    display: flex;
    justify-content: flex-end;
  }
  .hamburger-menu-container {
    background: rgb(234, 234, 234);
    position: absolute;
    right: 0px;
    bottom: -110px;
    transition: all 0.2s ease-out;
    padding: 10px 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .menu-container {
    padding: 15px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu-container .logo-section {
    display: none;
  }
}
