body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: local("ProximaNova-Regular"),
    url("./Assets/Fonts/proxima_ssv/ProximaNova-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: local("Proxima Nova Bold"),
    url("./Assets/Fonts/proxima_ssv/Proxima Nova Bold.otf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("./Assets/Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./Assets/Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
